In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("./data/daily_forex_rates.csv")

In [44]:
df

       currency base_currency      currency_name  exchange_rate        date
0           ZWL           EUR  Zimbabwean Dollar     350.552056  2023-11-22
1           GHS           EUR      Ghanaian Cedi      12.996958  2023-11-22
2           HRK           EUR      Croatian Kuna       7.665963  2023-11-22
3           HNL           EUR   Honduran Lempira      26.867725  2023-11-22
4           HKD           EUR   Hong Kong Dollar       8.487236  2023-11-22
...         ...           ...                ...            ...         ...
320848      AUD           EUR  Australian Dollar       1.731500  2004-09-01
320849      AUD           EUR  Australian Dollar       1.729600  2004-08-31
320850      JPY           EUR       Japanese Yen     132.850000  2004-08-31
320851      CAD           EUR    Canadian Dollar       1.596700  2004-08-31
320852      AUD           EUR  Australian Dollar       1.723700  2004-08-30

[320853 rows x 5 columns]

In [45]:
df.columns[0]

'currency'

In [46]:
df.isna().sum()

currency         0
base_currency    0
currency_name    0
exchange_rate    0
date             0
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320853 entries, 0 to 320852
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   currency       320853 non-null  object
 1   base_currency  320853 non-null  object
 2   currency_name  320853 non-null  object
 3   exchange_rate  320853 non-null  float64
 4   date           320853 non-null  object
dtypes: float64(1), object(4)
memory usage: 12.2+ MB

In [48]:
df["currency_name"].nunique() # 총 나라의 개수

168

In [49]:
df["currency_name"].unique()

array(['Zimbabwean Dollar', 'Ghanaian Cedi', 'Croatian Kuna',
       'Honduran Lempira', 'Hong Kong Dollar', 'Guyanaese Dollar',
       'Guatemalan Quetzal', 'Guinean Franc', 'Gambian Dalasi',
       'Gibraltar Pound', 'Guernsey Pound', 'Laotian Kip',
       'Georgian Lari', 'British Pound Sterling',
       'Falkland Islands Pound', 'Fijian Dollar', 'Euro',
       'Ethiopian Birr', 'Eritrean Nakfa', 'Egyptian Pound',
       'Haitian Gourde', 'Hungarian Forint', 'Indonesian Rupiah',
       'Israeli New Sheqel', 'Cayman Islands Dollar', 'Kuwaiti Dinar',
       'South Korean Won', 'North Korean Won', 'Comorian Franc',
       'Cambodian Riel', 'Kyrgystani Som', 'Kenyan Shilling',
       'Japanese Yen', 'Jordanian Dinar', 'Jamaican Dollar',
       'Jersey Pound', 'Icelandic Króna', 'Iranian Rial', 'Iraqi Dinar',
       'Indian Rupee', 'Manx pound', 'Algerian Dinar', 'Dominican Peso',
       'Danish Krone', 'Brazilian Real', 'Brunei Dollar',
       'Bermudan Dollar', 'Burundian Franc', 'Bahraini Dinar',
       'Bulgarian Lev', 'Bangladeshi Taka', 'Barbadian Dollar',
       'Bosnia-Herzegovina Convertible Mark', 'Azerbaijani Manat',
       'Aruban Florin', 'Australian Dollar', 'Argentine Peso',
       'Angolan Kwanza', 'Netherlands Antillean Guilder', 'Armenian Dram',
       'Albanian Lek', 'Afghan Afghani', 'Bolivian Boliviano',
       'Bahamian Dollar', 'Djiboutian Franc', 'Bitcoin',
       'Czech Republic Koruna', 'Cape Verdean Escudo', 'Cuban Peso',
       'Cuban Convertible Peso', 'Costa Rican Colón', 'Colombian Peso',
       'Chinese Yuan', 'Chilean Peso', 'Chilean Unit of Account (UF)',
       'Swiss Franc', 'Congolese Franc', 'Canadian Dollar',
       'Belize Dollar', 'Belarusian Ruble', 'New Belarusian Ruble',
       'Botswanan Pula', 'Bhutanese Ngultrum', 'Kazakhstani Tenge',
       'Lebanese Pound', 'Seychellois Rupee', 'Thai Baht',
       'Tanzanian Shilling', 'New Taiwan Dollar',
       'Trinidad and Tobago Dollar', 'Turkish Lira', 'Tongan Paʻanga',
       'Tunisian Dinar', 'Turkmenistani Manat', 'Tajikistani Somoni',
       'Swazi Lilangeni', 'South Sudanese Pound', 'Syrian Pound',
       'São Tomé and Príncipe Dobra', 'Surinamese Dollar',
       'Somali Shilling', 'Sierra Leonean Leone', 'Saint Helena Pound',
       'Singapore Dollar', 'Ukrainian Hryvnia', 'Ugandan Shilling',
       'United States Dollar', 'Uruguayan Peso', 'Zambian Kwacha',
       'Zambian Kwacha (pre-2013)', 'South African Rand', 'Yemeni Rial',
       'CFP Franc', 'CFA Franc BCEAO', 'Special Drawing Rights',
       'East Caribbean Dollar', 'Gold (troy ounce)',
       'Silver (troy ounce)', 'CFA Franc BEAC', 'Samoan Tala',
       'Vanuatu Vatu', 'Vietnamese Dong', 'Sovereign Bolivar',
       'Venezuelan Bolívar Fuerte', 'Uzbekistan Som', 'Swedish Krona',
       'United Arab Emirates Dirham', 'Sri Lankan Rupee', 'Myanma Kyat',
       'Malaysian Ringgit', 'Mexican Peso', 'Malawian Kwacha',
       'Maldivian Rufiyaa', 'Mauritian Rupee', 'Mauritanian Ouguiya',
       'Macanese Pataca', 'Mongolian Tugrik', 'Macedonian Denar',
       'Solomon Islands Dollar', 'Malagasy Ariary', 'Moldovan Leu',
       'Moroccan Dirham', 'Libyan Dinar', 'Latvian Lats',
       'Lithuanian Litas', 'Lesotho Loti', 'Liberian Dollar',
       'Mozambican Metical', 'Namibian Dollar', 'Nigerian Naira',
       'Nicaraguan Córdoba', 'Saudi Riyal', 'Rwandan Franc',
       'Russian Ruble', 'Serbian Dinar', 'Romanian Leu', 'Qatari Rial',
       'Paraguayan Guarani', 'Polish Zloty', 'Pakistani Rupee',
       'Philippine Peso', 'Papua New Guinean Kina', 'Peruvian Nuevo Sol',
       'Panamanian Balboa', 'Omani Rial', 'New Zealand Dollar',
       'Nepalese Rupee', 'Norwegian Krone'], dtype=object)

In [50]:
df.loc[df["currency_name"].str.contains("korea",case=False )]

       currency base_currency     currency_name  exchange_rate        date
26          KRW           EUR  South Korean Won    1409.373051  2023-11-22
27          KPW           EUR  North Korean Won     979.857719  2023-11-22
250         KPW           EUR  North Korean Won     982.095220  2023-11-21
251         KRW           EUR  South Korean Won    1414.190302  2023-11-21
369         KRW           EUR  South Korean Won    1408.431201  2023-11-20
...         ...           ...               ...            ...         ...
300960      KRW           EUR  South Korean Won    1361.300050  2014-11-13
300978      KRW           EUR  South Korean Won    1356.900020  2014-11-12
301058      KRW           EUR  South Korean Won    1365.199950  2014-11-11
301105      KRW           EUR  South Korean Won    1347.099980  2014-11-10
301130      KRW           EUR  South Korean Won    1351.800050  2014-11-07

[2388 rows x 5 columns]

In [53]:
len(df["currency_name"].unique())

168

In [54]:
df

       currency base_currency      currency_name  exchange_rate        date
0           ZWL           EUR  Zimbabwean Dollar     350.552056  2023-11-22
1           GHS           EUR      Ghanaian Cedi      12.996958  2023-11-22
2           HRK           EUR      Croatian Kuna       7.665963  2023-11-22
3           HNL           EUR   Honduran Lempira      26.867725  2023-11-22
4           HKD           EUR   Hong Kong Dollar       8.487236  2023-11-22
...         ...           ...                ...            ...         ...
320848      AUD           EUR  Australian Dollar       1.731500  2004-09-01
320849      AUD           EUR  Australian Dollar       1.729600  2004-08-31
320850      JPY           EUR       Japanese Yen     132.850000  2004-08-31
320851      CAD           EUR    Canadian Dollar       1.596700  2004-08-31
320852      AUD           EUR  Australian Dollar       1.723700  2004-08-30

[320853 rows x 5 columns]

In [93]:
df.loc[df["currency_name"].str.contains("korea", case=False)]

       currency base_currency     currency_name  exchange_rate        date
26          KRW           EUR  South Korean Won    1409.373051  2023-11-22
27          KPW           EUR  North Korean Won     979.857719  2023-11-22
250         KPW           EUR  North Korean Won     982.095220  2023-11-21
251         KRW           EUR  South Korean Won    1414.190302  2023-11-21
369         KRW           EUR  South Korean Won    1408.431201  2023-11-20
...         ...           ...               ...            ...         ...
300960      KRW           EUR  South Korean Won    1361.300050  2014-11-13
300978      KRW           EUR  South Korean Won    1356.900020  2014-11-12
301058      KRW           EUR  South Korean Won    1365.199950  2014-11-11
301105      KRW           EUR  South Korean Won    1347.099980  2014-11-10
301130      KRW           EUR  South Korean Won    1351.800050  2014-11-07

[2388 rows x 5 columns]

In [94]:
df.loc[(df["date"].values >= "2022-11-05") & (df["date"].values <= "2023-11-11")]

      currency base_currency          currency_name  exchange_rate        date
1859       AUD           EUR      Australian Dollar       1.684450  2023-11-10
1860       GHS           EUR          Ghanaian Cedi      12.793676  2023-11-10
1861       ARS           EUR         Argentine Peso     373.839740  2023-11-10
1862       ZWL           EUR      Zimbabwean Dollar     345.010367  2023-11-10
1863       CZK           EUR  Czech Republic Koruna      24.598096  2023-11-10
...        ...           ...                    ...            ...         ...
36251      MDL           EUR           Moldovan Leu      19.298000  2022-11-07
36252      BBD           EUR       Barbadian Dollar       1.928100  2022-11-06
36253      CZK           EUR  Czech Republic Koruna      24.378500  2022-11-06
36254      MXN           EUR           Mexican Peso      19.423500  2022-11-06
36255      NOK           EUR        Norwegian Krone      10.181040  2022-11-06

[34397 rows x 5 columns]

In [97]:
df2 = df.loc[(df["currency_name"].str.contains("korea", case=False)) & (df["date"].values >= "2022-11-05") & (df["date"].values <= "2023-11-11")]

In [98]:
df2.sort_values("date")

      currency base_currency     currency_name  exchange_rate        date
36175      KRW           EUR  South Korean Won    1395.300000  2022-11-07
36096      KRW           EUR  South Korean Won    1384.100000  2022-11-08
35998      KRW           EUR  South Korean Won    1371.900000  2022-11-09
35812      KRW           EUR  South Korean Won    1377.000000  2022-11-10
35713      KRW           EUR  South Korean Won    1359.500000  2022-11-11
...        ...           ...               ...            ...         ...
2333       KPW           EUR  North Korean Won     963.861196  2023-11-08
2104       KRW           EUR  South Korean Won    1401.570746  2023-11-09
2103       KPW           EUR  North Korean Won     960.002433  2023-11-09
2005       KRW           EUR  South Korean Won    1414.512565  2023-11-10
2004       KPW           EUR  North Korean Won     964.291452  2023-11-10

[281 rows x 5 columns]

In [105]:
df.loc[(df["date"] == "2022-11-07") & (df["currency_name"].str.contains("korea",case=False)) ]

      currency base_currency     currency_name  exchange_rate        date
36175      KRW           EUR  South Korean Won         1395.3  2022-11-07

In [106]:
df

       currency base_currency      currency_name  exchange_rate        date
0           ZWL           EUR  Zimbabwean Dollar     350.552056  2023-11-22
1           GHS           EUR      Ghanaian Cedi      12.996958  2023-11-22
2           HRK           EUR      Croatian Kuna       7.665963  2023-11-22
3           HNL           EUR   Honduran Lempira      26.867725  2023-11-22
4           HKD           EUR   Hong Kong Dollar       8.487236  2023-11-22
...         ...           ...                ...            ...         ...
320848      AUD           EUR  Australian Dollar       1.731500  2004-09-01
320849      AUD           EUR  Australian Dollar       1.729600  2004-08-31
320850      JPY           EUR       Japanese Yen     132.850000  2004-08-31
320851      CAD           EUR    Canadian Dollar       1.596700  2004-08-31
320852      AUD           EUR  Australian Dollar       1.723700  2004-08-30

[320853 rows x 5 columns]

In [114]:
df["currency_name"].value_counts().index.to_list()

['Australian Dollar',
 'Japanese Yen',
 'Canadian Dollar',
 'Swiss Franc',
 'British Pound Sterling',
 'Hong Kong Dollar',
 'New Zealand Dollar',
 'Chinese Yuan',
 'Sierra Leonean Leone',
 'Norwegian Krone',
 'Czech Republic Koruna',
 'Mexican Peso',
 'Barbadian Dollar',
 'Tunisian Dinar',
 'Israeli New Sheqel',
 'South Korean Won',
 'Indian Rupee',
 'Colombian Peso',
 'Singapore Dollar',
 'Eritrean Nakfa',
 'Uruguayan Peso',
 'Swedish Krona',
 'Myanma Kyat',
 'Mauritian Rupee',
 'Macedonian Denar',
 'Moldovan Leu',
 'Guatemalan Quetzal',
 'Jordanian Dinar',
 'Ugandan Shilling',
 'Congolese Franc',
 'Namibian Dollar',
 'Polish Zloty',
 'Lebanese Pound',
 'Malaysian Ringgit',
 'Malawian Kwacha',
 'Paraguayan Guarani',
 'Bulgarian Lev',
 'Qatari Rial',
 'Seychellois Rupee',
 'Turkish Lira',
 'Russian Ruble',
 'South African Rand',
 'Danish Krone',
 'Saudi Riyal',
 'Thai Baht',
 'Saint Helena Pound',
 'Falkland Islands Pound',
 'Moroccan Dirham',
 'Bermudan Dollar',
 'Brunei Dollar',
 'Hungarian Forint',
 'New Taiwan Dollar',
 'Afghan Afghani',
 'Costa Rican Colón',
 'Guyanaese Dollar',
 'Indonesian Rupiah',
 'Tongan Paʻanga',
 'Honduran Lempira',
 'Djiboutian Franc',
 'Bahamian Dollar',
 'Kazakhstani Tenge',
 'Tanzanian Shilling',
 'Vanuatu Vatu',
 'Philippine Peso',
 'Argentine Peso',
 'Mongolian Tugrik',
 'Yemeni Rial',
 'Cambodian Riel',
 'Iranian Rial',
 'Omani Rial',
 'Algerian Dinar',
 'Pakistani Rupee',
 'Netherlands Antillean Guilder',
 'Bangladeshi Taka',
 'Trinidad and Tobago Dollar',
 'Burundian Franc',
 'Vietnamese Dong',
 'Comorian Franc',
 'Peruvian Nuevo Sol',
 'Belize Dollar',
 'Bolivian Boliviano',
 'South Sudanese Pound',
 'Chilean Peso',
 'Mozambican Metical',
 'Rwandan Franc',
 'CFA Franc BEAC',
 'Ukrainian Hryvnia',
 'Maldivian Rufiyaa',
 'Kuwaiti Dinar',
 'Aruban Florin',
 'Guinean Franc',
 'Cayman Islands Dollar',
 'East Caribbean Dollar',
 'Panamanian Balboa',
 'Ghanaian Cedi',
 'Swazi Lilangeni',
 'Liberian Dollar',
 'Libyan Dinar',
 'Surinamese Dollar',
 'Egyptian Pound',
 'Chilean Unit of Account (UF)',
 'Serbian Dinar',
 'Icelandic Króna',
 'Haitian Gourde',
 'Bosnia-Herzegovina Convertible Mark',
 'Papua New Guinean Kina',
 'Sri Lankan Rupee',
 'Botswanan Pula',
 'Tajikistani Somoni',
 'Special Drawing Rights',
 'Nepalese Rupee',
 'Bhutanese Ngultrum',
 'Georgian Lari',
 'Uzbekistan Som',
 'Gambian Dalasi',
 'Nicaraguan Córdoba',
 'Azerbaijani Manat',
 'Kyrgystani Som',
 'Turkmenistani Manat',
 'Croatian Kuna',
 'Lesotho Loti',
 'Somali Shilling',
 'Macanese Pataca',
 'Albanian Lek',
 'Ethiopian Birr',
 'New Belarusian Ruble',
 'Solomon Islands Dollar',
 'Malagasy Ariary',
 'Fijian Dollar',
 'Sovereign Bolivar',
 'Venezuelan Bolívar Fuerte',
 'Cuban Convertible Peso',
 'Belarusian Ruble',
 'Zimbabwean Dollar',
 'Lithuanian Litas',
 'Mauritanian Ouguiya',
 'Armenian Dram',
 'Cuban Peso',
 'Romanian Leu',
 'Cape Verdean Escudo',
 'North Korean Won',
 'Bitcoin',
 'Angolan Kwanza',
 'São Tomé and Príncipe Dobra',
 'Bahraini Dinar',
 'Brazilian Real',
 'Dominican Peso',
 'Manx pound',
 'Iraqi Dinar',
 'Jersey Pound',
 'Syrian Pound',
 'Jamaican Dollar',
 'Gibraltar Pound',
 'Euro',
 'Nigerian Naira',
 'United States Dollar',
 'Zambian Kwacha',
 'Zambian Kwacha (pre-2013)',
 'CFP Franc',
 'Latvian Lats',
 'CFA Franc BCEAO',
 'Gold (troy ounce)',
 'Silver (troy ounce)',
 'Samoan Tala',
 'United Arab Emirates Dirham',
 'Laotian Kip',
 'Guernsey Pound',
 'Kenyan Shilling']

In [119]:
df.loc[df["currency_name"].str.contains("ddsa", case=False)]

Empty DataFrame
Columns: [currency, base_currency, currency_name, exchange_rate, date]
Index: []