In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./data/daily_forex_rates.csv")

In [5]:
df

       currency base_currency      currency_name  exchange_rate        date
0           ZWL           EUR  Zimbabwean Dollar     350.552056  2023-11-22
1           GHS           EUR      Ghanaian Cedi      12.996958  2023-11-22
2           HRK           EUR      Croatian Kuna       7.665963  2023-11-22
3           HNL           EUR   Honduran Lempira      26.867725  2023-11-22
4           HKD           EUR   Hong Kong Dollar       8.487236  2023-11-22
...         ...           ...                ...            ...         ...
320848      AUD           EUR  Australian Dollar       1.731500  2004-09-01
320849      AUD           EUR  Australian Dollar       1.729600  2004-08-31
320850      JPY           EUR       Japanese Yen     132.850000  2004-08-31
320851      CAD           EUR    Canadian Dollar       1.596700  2004-08-31
320852      AUD           EUR  Australian Dollar       1.723700  2004-08-30

[320853 rows x 5 columns]

In [36]:
df.columns[0]

'currency'

In [6]:
df.isna().sum()

currency         0
base_currency    0
currency_name    0
exchange_rate    0
date             0
dtype: int64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320853 entries, 0 to 320852
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   currency       320853 non-null  object
 1   base_currency  320853 non-null  object
 2   currency_name  320853 non-null  object
 3   exchange_rate  320853 non-null  float64
 4   date           320853 non-null  object
dtypes: float64(1), object(4)
memory usage: 12.2+ MB

In [23]:
df["currency_name"].nunique() # 총 나라의 개수

168

In [33]:
df["currency_name"].unique()

array(['Zimbabwean Dollar', 'Ghanaian Cedi', 'Croatian Kuna',
       'Honduran Lempira', 'Hong Kong Dollar', 'Guyanaese Dollar',
       'Guatemalan Quetzal', 'Guinean Franc', 'Gambian Dalasi',
       'Gibraltar Pound', 'Guernsey Pound', 'Laotian Kip',
       'Georgian Lari', 'British Pound Sterling',
       'Falkland Islands Pound', 'Fijian Dollar', 'Euro',
       'Ethiopian Birr', 'Eritrean Nakfa', 'Egyptian Pound',
       'Haitian Gourde', 'Hungarian Forint', 'Indonesian Rupiah',
       'Israeli New Sheqel', 'Cayman Islands Dollar', 'Kuwaiti Dinar',
       'South Korean Won', 'North Korean Won', 'Comorian Franc',
       'Cambodian Riel', 'Kyrgystani Som', 'Kenyan Shilling',
       'Japanese Yen', 'Jordanian Dinar', 'Jamaican Dollar',
       'Jersey Pound', 'Icelandic Króna', 'Iranian Rial', 'Iraqi Dinar',
       'Indian Rupee', 'Manx pound', 'Algerian Dinar', 'Dominican Peso',
       'Danish Krone', 'Brazilian Real', 'Brunei Dollar',
       'Bermudan Dollar', 'Burundian Franc', 'Bahraini Dinar',
       'Bulgarian Lev', 'Bangladeshi Taka', 'Barbadian Dollar',
       'Bosnia-Herzegovina Convertible Mark', 'Azerbaijani Manat',
       'Aruban Florin', 'Australian Dollar', 'Argentine Peso',
       'Angolan Kwanza', 'Netherlands Antillean Guilder', 'Armenian Dram',
       'Albanian Lek', 'Afghan Afghani', 'Bolivian Boliviano',
       'Bahamian Dollar', 'Djiboutian Franc', 'Bitcoin',
       'Czech Republic Koruna', 'Cape Verdean Escudo', 'Cuban Peso',
       'Cuban Convertible Peso', 'Costa Rican Colón', 'Colombian Peso',
       'Chinese Yuan', 'Chilean Peso', 'Chilean Unit of Account (UF)',
       'Swiss Franc', 'Congolese Franc', 'Canadian Dollar',
       'Belize Dollar', 'Belarusian Ruble', 'New Belarusian Ruble',
       'Botswanan Pula', 'Bhutanese Ngultrum', 'Kazakhstani Tenge',
       'Lebanese Pound', 'Seychellois Rupee', 'Thai Baht',
       'Tanzanian Shilling', 'New Taiwan Dollar',
       'Trinidad and Tobago Dollar', 'Turkish Lira', 'Tongan Paʻanga',
       'Tunisian Dinar', 'Turkmenistani Manat', 'Tajikistani Somoni',
       'Swazi Lilangeni', 'South Sudanese Pound', 'Syrian Pound',
       'São Tomé and Príncipe Dobra', 'Surinamese Dollar',
       'Somali Shilling', 'Sierra Leonean Leone', 'Saint Helena Pound',
       'Singapore Dollar', 'Ukrainian Hryvnia', 'Ugandan Shilling',
       'United States Dollar', 'Uruguayan Peso', 'Zambian Kwacha',
       'Zambian Kwacha (pre-2013)', 'South African Rand', 'Yemeni Rial',
       'CFP Franc', 'CFA Franc BCEAO', 'Special Drawing Rights',
       'East Caribbean Dollar', 'Gold (troy ounce)',
       'Silver (troy ounce)', 'CFA Franc BEAC', 'Samoan Tala',
       'Vanuatu Vatu', 'Vietnamese Dong', 'Sovereign Bolivar',
       'Venezuelan Bolívar Fuerte', 'Uzbekistan Som', 'Swedish Krona',
       'United Arab Emirates Dirham', 'Sri Lankan Rupee', 'Myanma Kyat',
       'Malaysian Ringgit', 'Mexican Peso', 'Malawian Kwacha',
       'Maldivian Rufiyaa', 'Mauritian Rupee', 'Mauritanian Ouguiya',
       'Macanese Pataca', 'Mongolian Tugrik', 'Macedonian Denar',
       'Solomon Islands Dollar', 'Malagasy Ariary', 'Moldovan Leu',
       'Moroccan Dirham', 'Libyan Dinar', 'Latvian Lats',
       'Lithuanian Litas', 'Lesotho Loti', 'Liberian Dollar',
       'Mozambican Metical', 'Namibian Dollar', 'Nigerian Naira',
       'Nicaraguan Córdoba', 'Saudi Riyal', 'Rwandan Franc',
       'Russian Ruble', 'Serbian Dinar', 'Romanian Leu', 'Qatari Rial',
       'Paraguayan Guarani', 'Polish Zloty', 'Pakistani Rupee',
       'Philippine Peso', 'Papua New Guinean Kina', 'Peruvian Nuevo Sol',
       'Panamanian Balboa', 'Omani Rial', 'New Zealand Dollar',
       'Nepalese Rupee', 'Norwegian Krone'], dtype=object)

In [38]:
df.loc[df["currency_name"].str.contains("korea",case=False )]

Empty DataFrame
Columns: [currency, base_currency, currency_name, exchange_rate, date]
Index: []